<div class="section">
<div class="columns">
    <div class="column">
        <img src="/assets/professoroak.png" width="200">
    </div>
    <div class="column">
        Hello there, welcome to the world of Pokemon! <br><br>

        My name is Oak! People call me the Pokémon Prof! <br><br>

        This world is inhabited by creatures called Pokémon! <br><br>

        For some people, Pokémon are pets. Other use them for fights. <br><br>

        Myself… I study Pokémon as a profession. <br><br>

        Your very own Pokémon legend is about to unfold! A world of dreams and adventures with Pokémon awaits! Let's
        go!<br><br>
    </div>
</div>
</div>